body {
	margin: 0;
}

.state_normal .selection_header {
	display: none;
}
.state_selection .selection_header {
	display: block;
}

.state_normal .item_removebutton {
	display: none;
}
.state_selection .item_removebutton {
	display: none;
}

.state_normal .item_selectioncheck {
	display: none;
}
.state_selection .item_selectioncheck {
	display: block;
}

.item {
}
.item_image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}
.item_fileinput {
	visibility: hidden;
}
.item_selectioncheck {
	position: absolute;
	bottom: 0;
	left: 0;
}

#fileselectorInput {
	display: none;
}